.header {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding-top: 13px;
	height: 49px;
	background-color: #6264a7;
	color: white;
}

.title {
	cursor: pointer;
	padding: 10px;
}

.error {
    color: red;
    text-align: center;
}

.btn {
	min-width: 0 !important;
	padding: 0!important;
}
